version: '3'
services:
    web:
        build:
            context: ./app
            args:
                - image=${WEB_IMAGE}
        container_name: ${WEB_CONTAINER_NAME}
        restart: always
        ports:
            - '${WEB_PORT}:3000'
        volumes:
            - ./app/config:/src/config
            - ./app/controller:/src/controller
            - ./app/log:/src/log
            - ./app/middleware:/src/middleware
            - ./app/model:/src/model
            - ./app/private:/src/private
            - ./app/public:/src/public
            - ./app/app.ts:/src/app.ts
            - ./app/tsconfig.json:/src/tsconfig.json
        environment:
            - TZ=Europe/Paris
networks:
    default:
        external:
            name: main
